# Ignore binary files
*.png
*.jpg
*.mp4

# Ignore build artifacts
bin/
obj/

# Ignore third-party libraries and dependencies
packages/
node_modules/

# Ignore IDE and editor-specific files
.vs/
.idea/
*.suo
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/

[Ll]og/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/